@model IEnumerable<nguyenvanhuynh_2210900031.Models.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adderss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.MemberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.MemberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review.MemberID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adderss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.MemberID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.MemberID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review.MemberID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MemberID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MemberID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MemberID })
        </td>
    </tr>
}

</table>
